@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
  --color: rgb(0, 197, 138);
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 16px;
}

.header{
  height: 6.5rem;
  display: grid;
  grid-template-areas: "img blank profile download";
  grid-template-columns: 8.5rem 0.8rem 1fr 0.8fr;
  grid-template-rows: 6.5rem;
}

.blank{
  background-color: var(--color);
}

.profile-img{
  height: 6.5rem;

  text-align: start;
  background-color: var(--color);
}


.profile-img img{
  height: auto;
  width: 6.5rem;
  border-radius: 0 0 0 5% ;
}

.profile-text{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color);

}

.profile-text > h1 {
  font-weight: 800;
  line-height: 2.5rem;
  font-size: 2.5rem;
}

.profile-text > h2{
  font-size: 1.2rem;
  line-height: 3rem;
}

.profile-download{
  border-radius: 0 0 5% 0;
  background-color: var(--color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

a{
  color: black;
}






/* body */


hr{
  border: 1px solid var(--color);
  color: var(--color);
  background-color: var(--color);
  margin-top: 0.3rem;
}

.hr{
  width: 132%;

}

.material-icons{
  font-size: 0.8rem;
  margin-top: 0.1rem;
}

.part1{
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: grid;
  grid-template-areas: 
  "blank1 content1 content2 blank2";
  grid-template-columns: 0.5rem 6.8rem 1fr 0.7rem;
}

.content1{
  grid-area: content1;
}

.content1 > h2{
  text-align: right;
  font-size: 1rem;
  margin-right: 0.9rem;
}


.content2{
  margin-left: 2rem;
  grid-area: content2;
}


.content2 h2{
  font-size: 0.9rem;
}

.content2 h4{
  font-size: 0.6rem;
}

.content2 > ul li{
  font-size: 0.8rem;
  list-style-type: none;
}

.content2 > ul> li > a{
  color: black;
  font-size: 0.8rem;
}

.content2 p {
  font-size: 0.8rem;
}




.part2{
  margin-top: 0.8rem;
  display: grid;
  grid-template-areas: 
  "blank1 content1 content2 content3 blank2";
  grid-template-columns: 0.5rem 6.8rem 1fr 0.3fr 0.7rem;
  grid-template-rows: 67.4px;
}

.item{
  margin-top: 0.6rem;
}

.content3{
  grid-area: content3;
  text-align: end;
}

.content3 > img{
  width: 80%;
  height: auto;
  margin-bottom: -10px;

}




.content-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.content-flex > p{
  font-weight: 600;
  min-width: 30%;
}

.content-flex > p > span{
  color: var(--color);
}


progress{
  -webkit-appearance: none;
}
::-webkit-progress-bar {
  border-radius: 1%;
  background-color: lightgray;
}

::-webkit-progress-value{
  background-color: var(--color);
}



.h2-flex{
  text-align: center;
  margin-bottom: 1rem;
}